<div class="panel panel-primary">
    <div class="panel-heading ">
        <h2>ResourceType List</h2>

        <a [routerLink]="['/admin/addResourceType']" class="btn btn-info" style="margin-left:800px">Add Resource</a>

    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Resource Type </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let resource of resources | async | paginate: { itemsPerPage: 4, currentPage: p }; let i=index">
                    <td>{{resource.resourceTypeId}}</td>
                    <td>{{resource.resourceType}}</td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                        <button (click)="editResource(resource.resourceTypeId)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<pagination-controls 
    (pageChange)="p=($event)">
</pagination-controls>